body,
label {
  @include gfont;
}

label {
  font-style: normal;
}

/*
 Groove eDx Theme Heading
*/

.lms {
  .heading1 {
    @include heading1();
  }
  
  .heading2 {
    @include heading2();
  }
  
  .heading3 {
    @include heading3();
  }
  
  .paragraph1 {
    @include paragraph1();
  }
  
  .paragraph2 {
    @include paragraph2();
  }
  
  .captain {
    @include captain();
  }
  
  .textLabel {
    @include textLabel();
  }
}

.studio {
  .heading1 {
    @include heading1(true);
  }
  
  .heading2 {
    @include heading2(true);
  }
  
  .heading3 {
    @include heading3(true);
  }
  
  .paragraph1 {
    @include paragraph1(true);
  }
  
  .paragraph2 {
    @include paragraph2(true);
  }
  
  .captain {
    @include captain(true);
  }
  
  .textLabel {
    @include textLabel(true);
  }
}

body {
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .weight-regular {
      font-weight: 400;
  }
  
  .weight-semi-bold {
      font-weight: 600;
  }
  
  .weight-bold {
      font-weight: 700;
  }
  
  .text-primary {
    color: $primaryColor1 !important;
  }
  
  .text-blue {
    color: $linkColor;
  }
}