%animate {
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

%formLabelTypo {
  font-size: 15px !important;
  color: $textColorBgWhite2;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: none;
}

%usePointer {
  cursor: pointer;
}