// :root {
//   font-size: 131.25%; //21px/16
// }

@font-face {
  font-family: 'Plumpfull Black';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("#{$fontPlumpfullPath}") format("woff");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontNunitoRegularPath}") format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("#{$fontNunitoSemiBoldPath}") format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontNunitoBoldPath}") format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("#{$fontNunitoExtraBoldPath}") format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontHelveticaNeueMediumPath}") format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("#{$fontHelveticaNeueThinPath}") format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("#{$fontHelveticaNeueLightPath}") format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontHelveticaNeueBoldPath}") format('woff');
}

@font-face {
  font-family: 'TimesNewRoman';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontTimesNewRomanPath}") format('woff');
}

@font-face {
  font-family: 'TimesNewRoman';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("#{$fontTimesNewRomanItalicPath}") format('woff');
}

@font-face {
  font-family: 'TimesNewRoman';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontTimesNewRomanBoldPath}") format('woff');
}

@font-face {
  font-family: 'TimesNewRoman';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("#{$fontTimesNewRomanBoldItalicPath}") format('woff');
}


body,
label {
  @include gfont;
}

label {
  font-style: normal;
}

// .h1, h1,
// .h2, h2,
// .h3, h3,
// .h4, h4,
// .h5, h5,
// .h6, h6 {
//   @include gfont;
//   color: $color07;
//   font-weight: 700;
//   margin-bottom: 16px;
// }

// .h1,
// h1 {
//   @include fz(40);
// }

// .h2,
// h2 {
//   @include fz(32);
// }

// .h3,
// h3 {
//   @include fz(28);
// }

// .h4,
// h4 {
//   @include fz(24);
// }

// .h5,
// h5 {
//   @include fz(20);
// }

// .h6,
// h6 {
//   @include fz(16);
// }

// p {
//   line-height: 1.45;
// }

/*
 Groove eDx Theme Heading
*/

.lms {
  .heading1 {
    @include heading1();
  }
  
  .heading2 {
    @include heading2();
  }
  
  .heading3 {
    @include heading3();
  }
  
  .paragraph1 {
    @include paragraph1();
  }
  
  .paragraph2 {
    @include paragraph2();
  }
  
  .captain {
    @include captain();
  }
  
  .textLabel {
    @include textLabel();
  }
}

.studio {
  .heading1 {
    @include heading1(true);
  }
  
  .heading2 {
    @include heading2(true);
  }
  
  .heading3 {
    @include heading3(true);
  }
  
  .paragraph1 {
    @include paragraph1(true);
  }
  
  .paragraph2 {
    @include paragraph2(true);
  }
  
  .captain {
    @include captain(true);
  }
  
  .textLabel {
    @include textLabel(true);
  }
}

body {
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .weight-regular {
      font-weight: 400;
  }
  
  .weight-semi-bold {
      font-weight: 600;
  }
  
  .weight-bold {
      font-weight: 700;
  }
  
  .text-primary {
    color: theme-color("primary") !important;
  }
  
  .text-blue {
    color: $grvColor06;
  }
}