.multiselect-native-select {
    @include useMultiselect('md', 'gray');
}

.studio {
    .multiselect-native-select {
        @include useMultiselect('md', 'gray', true);
    }
}

.alert {
    @include useAlert;
}

.clear {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent !important;

    @include whenHover {
        outline: none;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

@mixin coreMessage {
	padding: 10px 15px;
	border-radius: 1px $globalRadius $globalRadius 1px;
	border: 0;
	border-left: 2px solid transparent;
    display: flex;
    align-items: center;
    @include paragraph2;
    margin-bottom: 0;

    .title {
        @include heading3;
    }

    .icon {
        margin-right: 10px;
        font-size: 17px !important;

        svg {
            width: 16px;
            height: auto;
        }
    }
}

@mixin infoMessage {
	@include coreMessage();
	border-color: $infoColor;
	background-color: rgba($infoColor, .1);

    .icon {
        color: $infoColor;
    }
}

@mixin successMessage {
	@include coreMessage();
	border-color: $successColor;
	background-color: rgba($successColor, .1);

    .icon {
        color: $successColor;

        svg {
            fill: $successColor;
        }
    }
}

@mixin errorMessage {
	@include coreMessage();
	border-color: $dangerColor;
	background-color: rgba($dangerColor, .1);

    .icon {
        color: $dangerColor;

        svg {
            fill: $dangerColor;
        }
    }
}

@mixin wariningMessage {
	@include coreMessage();
	border-color: $warningColor;
	background-color: rgba($warningColor, .1);

    .icon {
        color: $warningColor;

        svg {
            fill: $warningColor;
        }
    }
}

$rem-base-size: 16 !default;
@function calcRem($value-px) {
  @return ($value-px / $rem-base-size) + 0rem;
}