.multiselect-native-select {
    @include useMultiselect('md', 'gray');
}

.studio {
    .multiselect-native-select {
        @include useMultiselect('md', 'gray', true);
    }
}

.alert {
    @include useAlert;
}

.clear {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent !important;

    @include whenHover {
        outline: none;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}

@mixin coreMessage {
	padding: 10px 15px;
	border-radius: 1px $globalRadius $globalRadius 1px;
	border: 0;
	border-left: 2px solid $grvBorderColor2;
    @include flexbox;
    @include paragraph2;
    margin-bottom: 0;
	background-color: $grvBgColor3;

    .title {
        @include heading3;
    }

    .icon {
        margin-right: 10px;
        font-size: 17px !important;

        svg {
            width: 16px;
            height: auto;
        }
    }
}

@mixin infoMessage {
	@include coreMessage();
	border-color: $infoMessageBorderColor;
	background-color: $infoMessageBgColor;
    color: $infoMessageColor;

    .icon {
        color: $infoMessageIconColor;

        svg {
            fill: $infoMessageIconColor;
        }
    }
}

@mixin successMessage {
	@include coreMessage();
	border-color: $successMessageBorderColor;
	background-color: $successMessageBgColor;
    color: $successMessageColor;

    .icon {
        color: $successMessageIconColor;

        svg {
            fill: $successMessageIconColor;
        }
    }
}

@mixin errorMessage {
	@include coreMessage();
	border-color: $dangerMessageBorderColor;
	background-color: $dangerMessageBgColor;
    color: $dangerMessageColor;

    .icon {
        color: $dangerMessageIconColor;

        svg {
            fill: $dangerMessageIconColor;
        }
    }
}

@mixin wariningMessage {
	@include coreMessage();
	border-color: $warningMessageBorderColor;
	background-color: $warningMessageBgColor;
    color: $warningMessageColor;

    .icon {
        color: $warningMessageIconColor;

        svg {
            fill: $warningMessageIconColor;
        }
    }
}

$rem-base-size: 16 !default;
@function calcRem($value-px) {
  @return ($value-px / $rem-base-size) + 0rem;
}