// Font variables
$font1RegularPath: '/src/__client/default/fonts/Roboto-Regular.woff';
$font1SemiBoldPath: '/src/__client/default/fonts/Roboto-Medium.woff';
$font1BoldPath: '/src/__client/default/fonts/Roboto-Bold.woff';
$font1ExtraBoldPath: '/src/__client/default/fonts/Roboto-Black.woff';
$font2RegularPath: '/src/__client/default/fonts/Roboto-Black.woff';

$font3MediumPath: '/src/__client/default/fonts/HelveticaNeue-Medium.woff';
$font3BoldPath: '/src/__client/default/fonts/HelveticaNeue-Bold.woff';
$font3ThinPath: '/src/__client/default/fonts/HelveticaNeue-Thin.woff';
$font3LightPath: '/src/__client/default/fonts/HelveticaNeue-Light.woff';
$font4Path: '/src/__client/default/fonts/TimesNewRoman.woff';
$font4BoldPath: '/src/__client/default/fonts/TimesNewRoman-Bold.woff';
$font4BoldItalicPath: '/src/__client/default/fonts/TimesNewRoman-BoldItalic.woff';
$font4ItalicPath: '/src/__client/default/fonts/TimesNewRoman-Italic.woff';