@import "./font";
@import "./variables";

// Skin variables

$globalRadius: 4px;
$globalRadius1: 20px;
$globalRadius2: 40px;

$primaryColor1: $color03;
$primaryColor1Light: $color22;
$primaryColor2: $color02;
$secondaryColor1: $color25;
$secondaryColor2: $color22;
$tertiaryColor1: $grvColor06;
$tertiaryColor2: $color24;
$textColorBgWhite1: $textColor01;
$textColorBgWhite2: $textColor02;
$textColorBgWhite3: $textColor03;
$textColorBgDark1: $textColor04;
$textColorBgDark2: $color01;

$dangerColor: $color21;
$warningColor: $grvColor03;
$successColor: $grvColor05;
$infoColor: $grvColor04;
$linkColor: $grvColor06;

$grvBorderColor1: $color16;
$grvBorderColor2: $color27;
$grvBorderColor3: $color09;
$grvBgColor1: $color26;
$grvBgColor2: $grey10;
$grvBgColor3: $color18;
$grvBoxShadowColor1: rgba(137, 137, 137, 0.161);
$grvBoxShadowColor2: rgba($color02, .15);

$primaryDarkBtnBackground: $primaryColor1;
$primaryDarkBtnBorder: transparent;
$primaryDarkBtnColor: $color01;
$primaryDarkBtnBackgroundHover: $color03d;

$primaryLightBtnBackground: $secondaryColor2;
$primaryLightBtnBorder: transparent;
$primaryLightBtnColor: $primaryColor1;
$primaryLightBtnBackgroundHover: $color03d;

$secondaryDarkBtnBackground: $tertiaryColor2;
$secondaryDarkBtnBorder: transparent;
$secondaryDarkBtnColor: $color01;
$secondaryDarkBtnBackgroundHover: $color24d;

$secondaryLightBtnBackground: $secondaryColor1;
$secondaryLightBtnBorder: transparent;
$secondaryLightBtnColor: $tertiaryColor2;
$secondaryLightBtnBackgroundHover: $color24d;

$disabledBtnBackground: #CBCBCB;
$disabledBtnColor: $textColorBgWhite2;

$btnFontSize: 15px;

$buttonBorderRadius: $globalRadius1;

$inputBorder: transparent;
$inputBackground: $grey08;
$inputColor: $textColorBgWhite2;
$disabledInputBorder: transparent;
$disabledInputBackground: $grey09;
$disabledInputColor: $textColorBgWhite3;
$errorInputBorder: $dangerColor;
$errorInputBackground: #FFEEEE;
$focusedInputBorder: $primaryColor1;
$focusedInputBackground: $color01;
$focusedInputColor: $textColorBgWhite2;
$focusedInputShadow: 0 0px 0 0.2rem rgba($color03, 0.25);

$genericInputBorderRadius: $globalRadius;
$searchInputBorderRadius: $globalRadius $globalRadius2 $globalRadius2 $globalRadius;
$searchButtonBorderRadius: 0 $globalRadius2 $globalRadius2 $globalRadius2;

$checkboxBorder: #BEBEBE;
$checkboxBorderRadius: $globalRadius;
$checkboxBackground: $color01;
$checkboxColor: $color01;
$disabledCheckboxBorder: #D4D4D4;
$disabledCheckboxBackground: #D4D4D4;
$disabledCheckboxColor: $textColorBgWhite3;
$checkedCheckboxBorder: $primaryColor1;
$checkedCheckboxBackground: $primaryColor1;
$checkedCheckboxColor: $color01;

$heading0Font: $font2;
$heading0Size: 32px;
$heading0Weight: 100;
$heading0LineHeight: 1.2;
$heading0Color: $color02;
$heading0MarginBottom: 15px;
$heading0Transform: uppercase;

$heading1Font: $font2;
$heading1Size: 28px;
$heading1Weight: 100;
$heading1LineHeight: 1.2;
$heading1Color: $color02;
$heading1MarginBottom: 15px;
$heading1Transform: uppercase;

$heading2Font: $font1;
$heading2Size: 24px;
$heading2Weight: 700;
$heading2LineHeight: 1.4;
$heading2Color: $color02;
$heading2MarginBottom: 10px;

$heading3Font: $font1;
$heading3Size: 17px;
$heading3Weight: 700;
$heading3LineHeight: 1.4;
$heading3Color: $color02;
$heading3MarginBottom: 10px;

$paragraph1Font: $font1;
$paragraph1Size: 15px;
$paragraph1Weight: 700;
$paragraph1LineHeight: 1.4;
$paragraph1Color: $textColorBgWhite1;
$paragraph1MarginBottom: 10px;

$paragraph2Font: $font1;
$paragraph2Size: 15px;
$paragraph2Weight: 400;
$paragraph2LineHeight: 1.4;
$paragraph2Color: $textColorBgWhite1;
$paragraph2MarginBottom: 10px;

$captainFont: $font1;
$captainSize: 13px;
$captainWeight: 400;
$captainLineHeight: 1.4;
$captainColor: $textColorBgWhite2;
$captainMarginBottom: 7px;

$textLabelFont: $font1;
$textLabelSize: 15px;
$textLabelWeight: 400;
$textLabelLineHeight: 1.4;
$textLabelColor: $textColorBgWhite2;
$textLabelMarginBottom: 7px;

$subTabItemActiveColor: $color24;

$popoverBgColor: $color26;
$popoverShadow: none;

$placeholderAvatarsBorderRadius: 50%;


$successAlertBorderColor: $successColor;
$successAlertBgColor: rgba($successColor, .1);
$successAlertColor: $textColorBgWhite1;
$successAlertIconColor: $successColor;

$infoAlertBorderColor: $infoColor;
$infoAlertBgColor: rgba($infoColor, .1);
$infoAlertColor: $textColorBgWhite1;
$infoAlertIconColor: $infoColor;

$warningAlertBorderColor: $warningColor;
$warningAlertBgColor: rgba($warningColor, .1);
$warningAlertColor: $textColorBgWhite1;
$warningAlertIconColor: $warningColor;

$dangerAlertBorderColor: $dangerColor;
$dangerAlertBgColor: rgba($dangerColor, .1);
$dangerAlertColor: $textColorBgWhite1;
$dangerAlertIconColor: $dangerColor;


$successMessageBorderColor: $successColor;
$successMessageBgColor: rgba($successColor, .1);
$successMessageColor: $textColorBgWhite1;
$successMessageIconColor: $successColor;

$infoMessageBorderColor: $infoColor;
$infoMessageBgColor: rgba($infoColor, .1);
$infoMessageColor: $textColorBgWhite1;
$infoMessageIconColor: $infoColor;

$warningMessageBorderColor: $warningColor;
$warningMessageBgColor: rgba($warningColor, .1);
$warningMessageColor: $textColorBgWhite1;
$warningMessageIconColor: $warningColor;

$dangerMessageBorderColor: $dangerColor;
$dangerMessageBgColor: rgba($dangerColor, .1);
$dangerMessageColor: $textColorBgWhite1;
$dangerMessageIconColor: $dangerColor;