@import "../core/config/grv.variables";

$font1: "Font1", sans-serif;
$font2: "Font2", sans-serif;
$font3: "Font3", sans-serif;
$font4: "Font4", sans-serif;

$color01: #FFFFFF;
$color02: #000000;
$color03: #E60978;
$color03d: #D3106C;
$color04: #FEA628;
$color05: #207945;
$color06: $color02;
$color06d: $color02;
$color07: $color02;
$color07d: $color02;
$color08: #333333;
$color09: #999999;
$color10: #798F9A;
$color11: #A9BDC7;
$color11d: #9FB4BF;
$color12: #C4C4C4;
$color12d: #C4C4C4;
$color13: #F2F5F9;
$color14: #F4F7F8;
$color15: #8899AA;
$color16: #E3E3E3;
$color17: #5D7790;
$color18: #FAFAFA;

$color19: #9B9B9B;
$color20: #EFEFEF;
$color21: #F04545;
$color22: #FFD9ED;
$color23: #FBFBFB;
$color24: #FF9D00;
$color24d: #EA9000;
$color25: #FFF5E5;
$color26: #F0F5FC;
$color26d: #E4E7EA;
$color27: #CFD7E2;
$color27l: #DCE6F4;
$color28: #8EA1BC;

$color29: #22221F;
$color30: #4B4B4B;
$color31: #0A0A0A;

// social media
$twColor: #1DA1F2;
$fbColor: #4065B4;
$mailColor: #F44336;

$starColor: #FFC107;

// Specific grv-theme colors (Use with caution for fallback)
$grvColor01: #25304C;
$grvColor01d: #1F2840;
$grvColor02: #3B455E;
$grvColor03: #FFA850;
$grvColor04: #6760FA;
$grvColor05: #38c976;
$grvColor06: #0094e3;

$homepage-bg-image: url('../images/banner-img.png');

// Others
$fontFamily: $font1;

// Font variables
$font1RegularPath: '/src/skin/fonts/Nunito-Regular.woff';
$font1SemiBoldPath: '/src/skin/fonts/Nunito-SemiBold.woff';
$font1BoldPath: '/src/skin/fonts/Nunito-Bold.woff';
$font1ExtraBoldPath: '/src/skin/fonts/Nunito-ExtraBold.woff';
$font2RegularPath: '/src/skin/fonts/Plumpfull.woff';

$font3MediumPath: '/src/skin/fonts/HelveticaNeue-Medium.woff';
$font3BoldPath: '/src/skin/fonts/HelveticaNeue-Bold.woff';
$font3ThinPath: '/src/skin/fonts/HelveticaNeue-Thin.woff';
$font3LightPath: '/src/skin/fonts/HelveticaNeue-Light.woff';
$font4Path: '/src/skin/fonts/TimesNewRoman.woff';
$font4BoldPath: '/src/skin/fonts/TimesNewRoman-Bold.woff';
$font4BoldItalicPath: '/src/skin/fonts/TimesNewRoman-BoldItalic.woff';
$font4ItalicPath: '/src/skin/fonts/TimesNewRoman-Italic.woff';


$breakMobile: 767.98px;
$tablet: 768px;

$textColor01: #333333 !default;
$textColor02: #666666 !default;
$textColor03: #999999 !default;
$textColor04: #C6CBD0 !default;
$textColor05: #4A4F4D !default;

/* Override default Bootstrap 4 variables */
$font-family-sans-serif: $font1;

$primary: $color03;
$secondary: $color22;
$success: $grvColor05;
$info: $grvColor04;
$danger: $color21;
$light: $color12;
$dark: $color07;
$warning: $grvColor03;

$text-color: $textColor01;
$link-color:            $grvColor06;
$link-hover-color:      darken($grvColor06, 7%);
$link-hover-decoration: none;

$theme-colors: (
  "primary": $primary,
  "primaryYellow": $color24,
  "secondary": $secondary,
  "secondaryYellow": $color25,
  "orange": $color04,
  "danger": $danger,
  "yellow": $color24
);

// Specific coloring
$wrapperPreviewMenu: $grvColor01;
$wrapperPreviewSelect: $grvColor02;
$wrapperPreviewSelectColor: $color01;

$containerWidth: 1180px;

$rem-base-size: 16 !default;
$rem-base-size-cms: 10 !default;
@function calcRem($value-px, $cms: false) {
  @if ($cms) {
    @return ($value-px / $rem-base-size-cms) + 0rem;
  }
  @else {
    @return ($value-px / $rem-base-size) + 0rem;
  }
}


//theme-color-variable

$primaryColor1: $color03;
$primaryColor2: $color02;
$secondaryColor1: $color25;
$secondaryColor2: $color22;
$tertiaryColor1: $grvColor06;
$tertiaryColor2: $color24;
$textColorBgWhite1: $color02;
$textColorBgWhite2: $textColor01;
$textColorBgWhite3: $textColor02;
$textColorBgDark1: $textColor04;
$textColorBgDark2: $color01;

$dangerColor: $color21;
$warningColor: $grvColor03;
$successColor: $grvColor05;
$infoColor: $grvColor04;
$linkColor: $grvColor06;

$grvBorderColor1: $color16;
$grvBorderColor2: $color27;
$grvBorderColor3: $color09;
$grvBgColor1: $color26;
$grvBgColor2: $grey10;
$grvBgColor3: $color18;
$grvBoxShadowColor1: rgba(137, 137, 137, 0.161);
$grvBoxShadowColor2: rgba($color02, .15);

$primaryDarkBtnBackground: $primaryColor1;
$primaryDarkBtnBorder: transparent;
$primaryDarkBtnColor: $color01;
$primaryDarkBtnBackgroundHover: $color03d;

$primaryLightBtnBackground: $secondaryColor2;
$primaryLightBtnBorder: transparent;
$primaryLightBtnColor: $primaryColor1;
$primaryLightBtnBackgroundHover: $color03d;

$secondaryDarkBtnBackground: $tertiaryColor2;
$secondaryDarkBtnBorder: transparent;
$secondaryDarkBtnColor: $color01;
$secondaryDarkBtnBackgroundHover: $color24d;

$secondaryLightBtnBackground: $secondaryColor1;
$secondaryLightBtnBorder: transparent;
$secondaryLightBtnColor: $tertiaryColor2;
$secondaryLightBtnBackgroundHover: $color24d;

$disabledBtnBackground: #CBCBCB;
$disabledBtnColor: $textColor02;

$buttonRadiiTL: $globalRadius1;
$buttonRadiiTR: $globalRadius1;
$buttonRadiiBR: $globalRadius1;
$buttonRadiiBL: $globalRadius1;

$inputBorder: transparent;
$inputBackground: $grey08;
$inputColor: $textColorBgWhite2;
$disabledInputBorder: transparent;
$disabledInputBackground: $grey09;
$disabledInputColor: $textColor03;
$errorInputBorder: $dangerColor;
$errorInputBackground: #FFEEEE;
$focusedInputBorder: $primaryColor1;
$focusedInputBackground: $color01;
$focusedInputColor: $textColorBgWhite2;
$focusedInputShadow: 0 0px 0 0.2rem rgba($color03, 0.25);

$inputRadiiTL: $globalRadius;
$inputRadiiTR: $globalRadius;
$inputRadiiBR: $globalRadius;
$inputRadiiBL: $globalRadius;

$checkboxBorder: #BEBEBE;
$checkboxBackground: $color01;
$checkboxColor: $color01;
$disabledCheckboxBorder: #D4D4D4;
$disabledCheckboxBackground: #D4D4D4;
$disabledCheckboxColor: $textColor03;
$checkedCheckboxBorder: $primaryColor1;
$checkedCheckboxBackground: $primaryColor1;
$checkedCheckboxColor: $color01;

$heading0Font: $font2;
$heading0Size: 32px;
$heading0Weight: 100;
$heading0LineHeight: 1.2;
$heading0Color: $color02;
$heading0MarginBottom: 15px;
$heading0Transform: uppercase;

$heading1Font: $font2;
$heading1Size: 28px;
$heading1Weight: 100;
$heading1LineHeight: 1.2;
$heading1Color: $color02;
$heading1MarginBottom: 15px;
$heading1Transform: uppercase;

$heading2Font: $font1;
$heading2Size: 24px;
$heading2Weight: 700;
$heading2LineHeight: 1.4;
$heading2Color: $color02;
$heading2MarginBottom: 10px;

$heading3Font: $font1;
$heading3Size: 17px;
$heading3Weight: 700;
$heading3LineHeight: 1.4;
$heading3Color: $color02;
$heading3MarginBottom: 10px;

$paragraph1Font: $font1;
$paragraph1Size: 15px;
$paragraph1Weight: 700;
$paragraph1LineHeight: 1.4;
$paragraph1Color: $textColor01;
$paragraph1MarginBottom: 10px;

$paragraph2Font: $font1;
$paragraph2Size: 15px;
$paragraph2Weight: 400;
$paragraph2LineHeight: 1.4;
$paragraph2Color: $textColor01;
$paragraph2MarginBottom: 10px;

$captainFont: $font1;
$captainSize: 13px;
$captainWeight: 400;
$captainLineHeight: 1.4;
$captainColor: $textColor02;
$captainMarginBottom: 7px;

$textLabelFont: $font1;
$textLabelSize: 15px;
$textLabelWeight: 400;
$textLabelLineHeight: 1.4;
$textLabelColor: $textColor02;
$textLabelMarginBottom: 7px;

$subTabItemActiveColor: $color24;

$popoverBgColor: $color26;
$popoverShadow: none;

$globalRadius: 4px;
$globalRadius1: 20px;
$globalRadius2: 40px;