@import "./variables";

// Please DO NOT delete this file. 
// It is used for theme styling in LMS/CMS

// Override font variables by getting from FEC
$fontPlumpfullPath: '/static/fec/fonts/Plumpfull.woff';
$fontNunitoSansRegularPath: '/static/fec/fonts/NunitoSans-Regular.woff';
$fontNunitoSansSemiBoldPath: '/static/fec/fonts/NunitoSans-SemiBold.woff';
$fontNunitoSansBoldPath: '/static/fec/fonts/NunitoSans-Bold.woff';
$fontNunitoSansExtraBoldPath: '/static/fec/fonts/NunitoSans-ExtraBold.woff';