@import "./variables";

// Please DO NOT delete this file. 
// It is used for theme styling in LMS/CMS

// Override font variables by getting from FEC
$fontPlumpfullPath: '/static/fec/fonts/Plumpfull.woff';
$fontNunitoRegularPath: '/static/fec/fonts/Nunito-Regular.woff';
$fontNunitoSemiBoldPath: '/static/fec/fonts/Nunito-SemiBold.woff';
$fontNunitoBoldPath: '/static/fec/fonts/Nunito-Bold.woff';
$fontNunitoExtraBoldPath: '/static/fec/fonts/Nunito-ExtraBold.woff';

$fontHelveticaNeueMediumPath: '/static/fec/fonts/HelveticaNeue-Medium.woff';
$fontHelveticaNeueBoldPath: '/static/fec/fonts/HelveticaNeue-Bold.woff';
$fontHelveticaNeueThinPath: '/static/fec/fonts/HelveticaNeue-Thin.woff';
$fontHelveticaNeueLightPath: '/static/fec/fonts/HelveticaNeue-Light.woff';
$fontTimesNewRomanPath: '/static/fec/fonts/TimesNewRoman.woff';
$fontTimesNewRomanBoldPath: '/static/fec/fonts/TimesNewRoman-Bold.woff';
$fontTimesNewRomanBoldItalicPath: '/static/fec/fonts/TimesNewRoman-BoldItalic.woff';
$fontTimesNewRomanItalicPath: '/static/fec/fonts/TimesNewRoman-Italic.woff';